@import "mixins/variables";
@import "mixins/mixins";

body{
    font-family: $police-ecriture;
    padding-top: 50px;
    background: $fond-secondaire;
}

/*--------------------------------------------*\
                    HEADER
\*--------------------------------------------*/
header{
    width: 100%;
    height: 50px;
    padding: 0 40px;
    background: $couleur-blanche;
    border-bottom: 1px solid $hover-blanche;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;

        /*--------------- TOGGLE ---------------*/
        .container-toggle{
            display: none;
            height: 50px;
            font-size: 20px;
            float: left;
            margin-right: 10px;
            color: $couleur-noir;
        }
    
        /*--------------- LOGO ---------------*/
        .container-logo{
           @include flexbox(center,center);
            height: 50px;
            margin-right: 8px;
            float: left;
    
            a{
                text-decoration: none;
            }
        }

        /*--------------- MENU ---------------*/
        .container-menu{
            @include flexbox(center,center);
            height:45px;
            float: left;

            .container--navbars{
                li{
                    display: inline-block;
                    list-style: none;
                    a{
                        text-decoration: none;
                        padding: 5px;
                        color: $couleur-noir;

                        &.active,
                        &:hover{
                            color: $couleur-bleu;
                        }
                    }
                }
            }
        }

        /*--------------- AVATAR ---------------*/
        .container-groups{
            @include flexbox(center,center);
            height: 50px;
            float: right;
    
            /*------ ICONS -------*/
            .group-icons{
                @include flexbox(inherit,inherit);
                margin-right: 10px;
                border-right: 1px solid $couleur-jaune;
                
                .group--icon{
                    margin-right: 10px;
            
                    button{
                        cursor: pointer;
                        border:none;
                        background: none;
                        color: $couleur-noir;
                        outline: none;
                        transition: .2s;
                
                        &:hover{
                            color: $couleur-bleu;
                        }
                    }
                }
            }
    
            /*-------- AVATAR-------*/
            .group-avatar{
                button{
                    @include flexbox(center,center);
                    width: 35px;
                    height: 35px;
                    background: $couleur-noir;
                    border: none;
                    border-radius: 50%;
                    outline: none;
    
                    svg{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        /*--------------- CONTAINER POPUP SEARCH ---------------*/
        .container-popup-search{
            display: none;
            &.active{
                display: block
            }
            form{
                @include flexbox(center,center);
                width: 600px;
                height: 60px;
                background: $couleur-blanche;
                border-radius: 3px;
                position: fixed;
                z-index: 1100;
                top: 30px;
                left: 50%;
                transform: translateX(-50%);
                animation : form-search .3s;

                .block-input{
                    width: 580px;
                    height: 40px;

                    input{
                        width: 100%;
                        height: 100%;
                        border: 1px solid $couleur-jaune;
                        background: none;
                        border-radius: 4px;
                        outline: none;
                        padding: 0 40px 0 20px;
                        color: rgba($couleur-noir,.7);
                        font-size: 16px;
                        font-weight: 500;  
                        &:focus{
                            border: 2px solid rgba($couleur-jaune, .5); 
                        }
                        
                    }
                    button{
                        cursor: pointer;
                        background: none;
                        border: none;
                        outline: none;
                        color: $couleur-noir;
                        position: absolute;
                        font-size: 16px;
                        right: 25px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
            .close-search-overlay{
                display: none;
                cursor: pointer;
                width: 40px;
                height: 40px;
                background: $couleur-blanche;
                box-shadow: 0 0 5px $couleur-noir;
                text-align: center;
                border-radius: 50%;
                color: $couleur-noir;
                font-size: 30px;
                font-weight: 700;
                position: absolute;
                top: 30px;
                right: 100px;
                z-index: 7000;
            }
            .container--overlay-popupSearch{
                width: 100%;
                height: 100%;
                background: rgba($couleur-noir,.7);
                position: fixed;
                z-index:1000;
                left: 0;
                top: 0;
            }
        }


}


.container-main{
    width: 80%;
    height: auto;
    background: $couleur-blanche;
    margin: auto;
    padding: 40px 50px;

    .container-title{
        @include flexbox(space-between,inherit);
        padding: 15px 0;

        .content--title{
            width: 70%;
            h2{
                font-weight: 700;
                color: $couleur-noir;
                font-size: 22px;
    
                span{
                    color: $couleur-bleu;
                }
            }
            p{
                font-size: 14px;
                margin: 10px 0;
                color: rgba($couleur-noir,.7);
                text-align: justify;
            }
    
        }
        .content-button-newSujet{
            a{
                text-decoration: none;
                padding: 6px 20px;
                background: $couleur-bleu;
                color: $couleur-blanche;
                font-size: 13px;
                border-radius: 33px;
                font-weight: 500;
                transition: .3s;

                &:hover{
                    background: rgba($hover-bleu, .8);
                }
            }
        }
    }

    /*-------- CONTENUS -------*/
    .container--contents{
        width:100%;
        height:auto;
        
        .group-content{
            width: 100%;
            height: 190px;
            border-top: 1px solid rgba($couleur-bleu, .3);

            /*-------- SECTION SECONDAIRE -----*/
            .section-primaire{
                padding: 8px 0;

                a{
                    text-decoration: none;
                    color: rgba($couleur-noir,.5);
                    font-weight: 400;
                    font-size: 15px;
                }
            }
            .section-secondaire{
                @include flexbox(space-between,inherit);

                .group-discusion{
                    width: 70%;
                    position: relative;
                    
                    .block-sujet{
                        margin-bottom: 10px;
                        a{
                            text-decoration: none;
                            color: $couleur-noir;
                            font-weight: 500;
                            font-size: 15px;
    
                            &:hover{
                                color: $couleur-bleu;
                                text-decoration: underline;
                            }
                        }
                        .separator{
                            font-size: 12px;
                            color: $couleur-noir;
                        }
                    }
                    .block-message{
                        width: 100%;
                        height: 100px;
                        font-size: 14px;
                        text-align: justify;
                        color: rgba($couleur-noir,.7);
                        overflow: hidden;
                        position: relative;

                        .overlay{
                            display: inline-block;
                            width: 100%;
                            height:40px;
                            box-shadow: 0 0 40px 30px rgba($couleur-blanche,2);
                            background: $couleur-blanche;
                            position: absolute;
                            bottom: 0;
                        }
                    }
                    .group-reponse{
                        width: 100%;
                        position: absolute;
                        bottom:0;
                        left: 0;

                        a{
                            text-decoration: none;
                            color: rgba($couleur-noir,.5);
                            transition: .3s;

                            &:hover{
                                color: $couleur-bleu;
                                &.icon-message{
                                    border-color: $couleur-bleu;
                                }
                            }
                            &.icon-message{
                                @include flexbox(center,center);
                                width: 35px;
                                height: 35px;
                                margin-right: 10px;
                                border: 1px solid rgba($couleur-noir,.5);
                                border-radius: 50%;
                                font-size: 20px;
                                float: left;
                            }
                            &.reponse-messag{
                                font-size: 18px;
                                font-weight: 500;
                                position: relative;
                                top: 3px;
                            }
                        }
                    }
                }
                .group-detaille{
                    @include flexbox(center,center);
                    width: 20%;
                    height: auto;

                    a{
                        display: block;
                        text-decoration: none;
                        font-size: 15px;
                        color: rgba($couleur-noir,.7);
                        text-transform: uppercase;
                        font-weight: 500;

                        &:hover{
                            color: $couleur-bleu;
                        }
                    }
                    .separator{
                        font-size: 14px;
                        color: $couleur-bleu;
                    }
                }

            }
            

        }
    }

    /*-------------------------------------------------*\
                    PAGE FORMAUAIRE
    \*-------------------------------------------------*/
    .container--contents-formulaire{
        @include flexbox(space-between,inherit);

        .group-formulaire{
            width: 60%;

            .block-input{
                width: 100%;
                height: 40px;
                margin: 20px 0;

                input,
                select{
                    width: 100%;
                    height: 100%;
                    outline: none;
                    border: 1px solid rgba($couleur-noir,.2);
                    padding: 10px 20px;
                    border-radius: 5px;
                    color: rgba($couleur-noir,.5);
                    font-weight: 500;
                }
            }
            .block-validation{
                margin: 20px 0;
                
                input{
                    cursor: pointer;
                    width: 200px;
                    height: 45px;
                    background: $couleur-bleu;
                    border: 1px solid $couleur-bleu;
                    border-radius: 33px;
                    color: $couleur-blanche;
                    font-weight: 600;
                }
            }
        }

        /*----------- CONTAINER REGLES ----------*/
        .group-regles{
            width: 30%;

            .regle-title{
                font-size: 15px;
                padding: 10px 0;
                text-transform: uppercase;
                font-weight: 700;
                color: $couleur-noir;
                border-top: 4px solid rgba($couleur-noir,.1);
                position: relative;

                &::before{
                    content: "";
                    width: 50px;
                    height: 5px;
                    background: $couleur-bleu;
                    position: absolute;
                    left: 0;
                    top: -5px;
                }
            }
            .block-regle{
                @include flexbox(inherit,inherit);
                margin-bottom: 15px;
                .icon-regle{
                    @include flexbox(center,center);
                    width: 40px;
                    height: 40px;
                    box-shadow: 0 0 7px 1px rgba($couleur-noir,.2);
                    margin-right: 10px;
                    border-radius: 50%;
                    color: $couleur-noir;
                }
                .text-regle{
                    width: 80%;
                    font-size: 14px;
                    color: rgba($couleur-noir,.8);
                }
            }
        }
    }

}

/*--------------------------------------------*\
            CONTAINER FOOTER
\*--------------------------------------------*/
.container-footer{
    width: 80%;
    background: $couleur-blanche;
    border-top: 1px solid $hover-blanche;
    margin: 0 auto;
    margin-top: auto;
    

    footer{
        @include flexbox(space-around,inherit);
        width: 100%;
        height: auto;
        padding: 20px;

        .title--group-footer{
            margin-bottom: 10px;
            color: $couleur-bleu;
            font-weight: 700;
            padding: 0 5px;
            text-transform: uppercase;
            font-size: 14px;
        }
        .content--group-footer{
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    color: rgba($couleur-noir,.9);
                    font-weight: 400;
                    padding: 5px;
                    font-weight: 500;
                    font-size: 14px;
                    transition: .3s;
                    
                    &:hover{
                        color: $couleur-bleu;
                    }
                }
            }

            .group-icons-sociaux{
                @include flexbox(inherit,inherit);

                .icon-sociaux{
                    @include flexbox(center,center);
                    width: 38px;
                    height: 38px;
                    border: 1px solid rgba($couleur-noir,.5);
                    box-shadow: 0 0 50px 5px rgba($hover-bleu,.5);
                    margin: 0 8px;
                    border-radius: 50%;
                    transition: .3s;
                    a{
                        color: rgba($couleur-noir,.8);
                        text-decoration: none;
                        font-size: 17px;
                        
                        &:hover{
                            color: $couleur-bleu;
                        }
                    }
                }
            }

            .copyright{
                font-size: 12px;
                float: right;
                margin: 30px 0;
                font-weight: 600;
            }
        }
    }
}
