/*---------------------------------------------------------*\
                RESET & ANIMATION APPARITION
\*---------------------------------------------------------*/
*, ::before, ::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.reveal {
  -webkit-animation: flash .3s linear;
          animation: flash .3s linear;
}

@-webkit-keyframes flash {
  from {
    opacity: 0;
    display: none;
  }
  to {
    opacity: 1;
    display: block;
  }
}

@keyframes flash {
  from {
    opacity: 0;
    display: none;
  }
  to {
    opacity: 1;
    display: block;
  }
}

@-webkit-keyframes form-search {
  from {
    top: -100%;
  }
  to {
    top: 30px;
  }
}

@keyframes form-search {
  from {
    top: -100%;
  }
  to {
    top: 30px;
  }
}

body {
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*-----------------------------------------------*\
                    HEADER 
\*-----------------------------------------------*/
header {
  width: 100%;
  height: 50px;
  background: #fff;
  padding: 0 40px;
  /*-------------- LOGO -----------*/
  /*-------------- MENU DE NAVIGATION -----------*/
}

header .container-toggle {
  display: none;
  height: 50px;
  font-size: 24px;
  float: left;
}

header .container-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  float: left;
  margin-right: 50px;
}

header .container-logo a {
  text-decoration: none;
}

header .container-navbars {
  float: left;
}

header .container-navbars li {
  display: inline-block;
  list-style: none;
}

header .container-navbars li a {
  text-decoration: none;
  color: rgba(21, 17, 17, 0.5);
  line-height: 50px;
  padding: 7px 14px;
  font-weight: 500;
  font-size: 15px;
  -webkit-transition: .3s;
  transition: .3s;
}

header .container-navbars li a:hover, header .container-navbars li a.active {
  color: #3F51B5;
}

header .container-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  float: right;
}

header .container-login .container--login {
  margin-right: 10px;
}

header .container-login .container--login a {
  text-decoration: none;
  padding: 10px 20px;
  font-weight: 500;
  color: #151111;
  font-size: 14px;
  -webkit-transition: .3s;
  transition: .3s;
}

header .container-login .container--login a:hover {
  color: rgba(21, 17, 17, 0.7);
}

header .container-login .container--login:nth-child(2) a {
  background: #ffc62d;
  border-radius: 8px;
}

header .container-login .container--login:nth-child(2) a:hover {
  background: rgba(255, 198, 45, 0.7);
}

/*-----------------------------------------------*\
                CONTAINER PRESENTATIO 
\*-----------------------------------------------*/
.container-presentation {
  width: 100%;
  height: auto;
  background: #fff;
  /*---------- PRESENTATION ------------*/
  /*---------- ASIDE ------------*/
}

.container-presentation .container--fluid-presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  width: 90%;
  height: 450px;
  background: #f3f3ef;
  margin: auto;
}

.container-presentation .container--fluid-presentation .conteiner--content {
  width: 50%;
  height: 100%;
}

.container-presentation .container--fluid-presentation .texte-presentaion {
  width: 100%;
  height: 100%;
  padding: 80px;
  /*------- BUTTON ---------*/
}

.container-presentation .container--fluid-presentation .texte-presentaion h1 {
  font-size: 48px;
  text-align: left;
  color: #151111;
  line-height: 55px;
}

.container-presentation .container--fluid-presentation .texte-presentaion p {
  padding: 15px 0;
  color: #555;
  font-size: 15px;
  font-weight: 400;
}

.container-presentation .container--fluid-presentation .texte-presentaion .group-buttons-presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  margin-top: 30px;
}

.container-presentation .container--fluid-presentation .texte-presentaion .group-buttons-presentation .block-button {
  margin-right: 15px;
}

.container-presentation .container--fluid-presentation .texte-presentaion .group-buttons-presentation .block-button button {
  cursor: pointer;
  font-weight: 600;
  outline: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.container-presentation .container--fluid-presentation .texte-presentaion .group-buttons-presentation .block-button:nth-child(1) button {
  background: #3F51B5;
  border-radius: 8px;
  border: #3F51B5;
  color: #fff;
  padding: 14px 24px;
}

.container-presentation .container--fluid-presentation .texte-presentaion .group-buttons-presentation .block-button:nth-child(1) button:hover {
  background: #2f3d8a;
  color: #ccc;
}

.container-presentation .container--fluid-presentation .texte-presentaion .group-buttons-presentation .block-button:nth-child(2) button {
  border: none;
  background: none;
  padding: 13px 2px;
  position: relative;
  z-index: 2;
}

.container-presentation .container--fluid-presentation .texte-presentaion .group-buttons-presentation .block-button:nth-child(2) button::before {
  content: "";
  width: 125px;
  height: 2px;
  background: #151111;
  position: absolute;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: -2;
  left: 0;
  bottom: 0;
}

.container-presentation .container--fluid-presentation .texte-presentaion .group-buttons-presentation .block-button:nth-child(2) button:hover {
  color: #ccc;
}

.container-presentation .container--fluid-presentation .texte-presentaion .group-buttons-presentation .block-button:nth-child(2) button:hover::before {
  height: 40px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.container-presentation .container--fluid-presentation .image-presentation {
  width: 100%;
  height: 100%;
  background: url("../images/font1.png");
  background-repeat: no-repeat;
  background-position: center;
}

.container-presentation .container--aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  width: 90%;
  margin: 10px auto;
}

.container-presentation .container--aside .block-aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-presentation .container--aside .block-aside .block--content-aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
}

.container-presentation .container--aside .block-aside .block--content-aside.compass {
  background: #fde7e5;
}

.container-presentation .container--aside .block-aside .block--content-aside.watch {
  background: #e3d1ff;
}

.container-presentation .container--aside .block-aside .block--content-aside.user {
  background: #fde2cf;
}

.container-presentation .container--aside .block-aside .block--content-aside.book {
  background: #e7ffe2;
}

.container-presentation .container--aside .block-aside .block--content-aside .icon-aside {
  font-size: 33px;
  z-index: 2;
  position: relative;
}

.container-presentation .container--aside .block-aside .block--content-aside .icon-aside.compass {
  color: #fdc5bc;
}

.container-presentation .container--aside .block-aside .block--content-aside .icon-aside.watch {
  color: #be99ff;
}

.container-presentation .container--aside .block-aside .block--content-aside .icon-aside.user {
  color: #fe9b4f;
}

.container-presentation .container--aside .block-aside .block--content-aside .icon-aside.book {
  color: #74db64;
}

.container-presentation .container--aside .block-aside .block--content-aside .overlay-icon-aside {
  font-size: 30px;
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-65%, -65%);
          transform: translate(-65%, -65%);
}

.container-presentation .container--aside .block-aside .block--content-aside .overlay-icon-aside.compass {
  color: #ff8e79;
}

.container-presentation .container--aside .block-aside .block--content-aside .overlay-icon-aside.watch {
  color: #a673fa;
}

.container-presentation .container--aside .block-aside .block--content-aside .overlay-icon-aside.user {
  color: #feb482;
}

.container-presentation .container--aside .block-aside .block--content-aside .overlay-icon-aside.book {
  color: #b4e9ba;
}

.container-presentation .container--aside .block-aside span {
  margin: 0 5px;
  font-weight: 600;
  color: #151111;
  font-size: 15px;
}

/*-----------------------------------------------*\
                 CONTAINER COURSES 
\*-----------------------------------------------*/
.container-courses {
  width: 100%;
  height: auto;
}

.container-courses .container--fluid-courses {
  width: 90%;
  height: auto;
  margin: 30px auto;
  /*GROUP  TITRE DE CONETNUS*/
  /*------ GROUP COURSES--------*/
}

.container-courses .container--fluid-courses .group-title-course {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  margin: 15px 0;
}

.container-courses .container--fluid-courses .group-title-course h2 {
  color: #151111;
  font-size: 24px;
}

.container-courses .container--fluid-courses .group-title-course h3 {
  font-size: 15px;
  color: #151111;
  -webkit-transition: .5s;
  transition: .5s;
}

.container-courses .container--fluid-courses .group-title-course h3 a {
  text-decoration: none;
  color: inherit;
}

.container-courses .container--fluid-courses .group-title-course h3:hover a {
  color: #3F51B5;
}

.container-courses .container--fluid-courses .group-courses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
}

.container-courses .container--fluid-courses .group-courses .course {
  width: 280px;
  height: 325px;
  position: relative;
  /*------ MINIATURE ---------*/
  /*------ INFO SUPPLEMENTAIRE ---------*/
}

.container-courses .container--fluid-courses .group-courses .course .course--miniature {
  width: 280px;
  height: 150px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.container-courses .container--fluid-courses .group-courses .course .course--miniature a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
}

.container-courses .container--fluid-courses .group-courses .course .course--miniature:hover a {
  background: rgba(21, 17, 17, 0.5);
}

.container-courses .container--fluid-courses .group-courses .course .course--Infosupplemetaire {
  height: auto;
  background: #fff;
  -webkit-box-shadow: 0 0 10px 1px rgba(21, 17, 17, 0.09);
          box-shadow: 0 0 10px 1px rgba(21, 17, 17, 0.09);
}

.container-courses .container--fluid-courses .group-courses .course .course--Infosupplemetaire .course--categorie {
  width: auto;
  padding: 5px 23px;
  background: #cfffd4;
  border-radius: 5px;
  color: #151111;
  font-weight: 600;
  font-size: 13px;
  position: absolute;
  left: 20px;
  top: 52%;
  -webkit-transform: translateY(-52%);
          transform: translateY(-52%);
}

.container-courses .container--fluid-courses .group-courses .course .course--Infosupplemetaire .course--categorie::before {
  content: "";
  width: 10px;
  height: 10px;
  background: #74db64;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.container-courses .container--fluid-courses .group-courses .course .course--Infosupplemetaire .course--titre {
  height: 90px;
  padding: 40px 15px;
  font-weight: 600;
}

.container-courses .container--fluid-courses .group-courses .course .course--Infosupplemetaire .course--titre h2 {
  color: #151111;
  font-size: 15px;
}

.container-courses .container--fluid-courses .group-courses .course .course--Infosupplemetaire .course--titre h2 a {
  text-decoration: none;
  color: inherit;
}

.container-courses .container--fluid-courses .group-courses .course .course--Infosupplemetaire .course--block-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.container-courses .container--fluid-courses .group-courses .course .course--Infosupplemetaire .course--block-icons .block--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-weight: 600;
  color: #151111;
  padding-right: 15px;
}

.container-courses .container--fluid-courses .group-courses .course .course--Infosupplemetaire .course--block-icons .block--icon span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 15px;
  -webkit-box-shadow: 0 0 5px #ccc;
          box-shadow: 0 0 5px #ccc;
  margin-right: 5px;
}

.container-courses .container--fluid-courses .group-courses .course .course--Infosupplemetaire .course--block-icons .block--auhtor {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border-top: 1px solid #ccc;
  position: relative;
  left: 85px;
}

.container-courses .container--fluid-courses .group-courses .course .course--Infosupplemetaire .course--block-icons .block--auhtor img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.container-courses .container--fluid-courses .group-courses .course:nth-child(2) .course--Infosupplemetaire .course--categorie {
  background: #fdebea;
}

.container-courses .container--fluid-courses .group-courses .course:nth-child(2) .course--Infosupplemetaire .course--categorie::before {
  background: #fdc5bc;
}

.container-courses .container--fluid-courses .group-courses .course:nth-child(3) .course--Infosupplemetaire .course--categorie {
  background: #e3d1ff;
}

.container-courses .container--fluid-courses .group-courses .course:nth-child(3) .course--Infosupplemetaire .course--categorie::before {
  background: #be99ff;
}

.container-courses .container--fluid-courses .group-courses .course:nth-child(4) .course--Infosupplemetaire .course--categorie {
  background: #fde2cf;
}

.container-courses .container--fluid-courses .group-courses .course:nth-child(4) .course--Infosupplemetaire .course--categorie::before {
  background: #fe9b4f;
}

/*-----------------------------------------------*\
            CONTAINER LEANING ILLUSTRATION
\*-----------------------------------------------*/
.container-learningIllustration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 460px;
  background: rgba(204, 204, 204, 0.5);
  margin: 100px 0 30px;
}

.container-learningIllustration .content-text-learnIllustration {
  width: 55%;
  height: 400px;
  padding: 70px 100px;
  position: relative;
}

.container-learningIllustration .content-text-learnIllustration h1 {
  font-size: 2em;
}

.container-learningIllustration .content-text-learnIllustration p {
  padding: 10px 0;
  color: rgba(21, 17, 17, 0.6);
  font-weight: 400;
  font-size: 14px;
}

.container-learningIllustration .content-text-learnIllustration .group-illustion-icons .icon {
  margin-right: 5px;
  font-size: 14px;
  color: rgba(255, 100, 203, 0.4);
}

.container-learningIllustration .content-text-learnIllustration .group-illustion-icons span {
  font-size: 13px;
  color: rgba(21, 17, 17, 0.9);
  font-weight: 500;
}

.container-learningIllustration .content-text-learnIllustration .group-button {
  margin: 30px 0;
}

.container-learningIllustration .content-text-learnIllustration .group-button button {
  cursor: pointer;
  padding: 8px 23px;
  background: #3F51B5;
  border-color: transparent;
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.container-learningIllustration .content-text-learnIllustration .group-button button:hover {
  background: #2f3d8a;
  color: #ccc;
}

.container-learningIllustration .content-text-learnIllustration .learningIllustration-vignette {
  width: 250px;
  height: auto;
  background: #fff;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 20px;
  position: absolute;
  right: -40px;
  top: 48%;
}

.container-learningIllustration .content-text-learnIllustration .learningIllustration-vignette .group-vignette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  background: #e3fff8;
  border-radius: 50%;
  margin: 5px 0;
  color: #4ec7ad;
}

.container-learningIllustration .content-text-learnIllustration .learningIllustration-vignette .group-vignette span {
  font-size: 24px;
  font-weight: 900;
  text-align: center;
}

.container-learningIllustration .content-text-learnIllustration .learningIllustration-vignette p {
  text-align: left;
  font-size: 13px;
  font-weight: 600;
}

.container-learningIllustration .content-image-learnIllustration {
  width: 400px;
  height: 400px;
  background: url("../images/utilisation.jpg");
  background-size: cover;
  background-position: center;
}

.container-aside-learningIllusration {
  width: 100%;
  height: 200px;
  background: url("../images/024.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  margin: 50px 0;
  position: relative;
}

.container-aside-learningIllusration .container-joinUs {
  position: absolute;
  left: 65%;
  top: 65%;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
  padding: 0 20px;
}

.container-aside-learningIllusration .container-joinUs h1 {
  color: rgba(0, 0, 0, 0.9);
}

.container-aside-learningIllusration .container-joinUs button {
  cursor: pointer;
  padding: 8px 23px;
  background: #3F51B5;
  border-color: transparent;
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  margin: 10px 0;
}

.container-aside-learningIllusration .container-joinUs button:hover {
  background: #2f3d8a;
  color: #ccc;
}

/*--------------------------------------------*\
            CONTAINER FOOTER
\*--------------------------------------------*/
.container-footer {
  width: 100%;
  height: auto;
  background: #fff;
  border-top: 1px solid #ccc;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.container-footer footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  width: 100%;
  height: auto;
  padding: 20px;
}

.container-footer footer .title--group-footer {
  margin-bottom: 10px;
  color: #3F51B5;
  font-weight: 700;
  padding: 0 5px;
  text-transform: uppercase;
  font-size: 14px;
}

.container-footer footer .content--group-footer li {
  list-style: none;
}

.container-footer footer .content--group-footer li a {
  text-decoration: none;
  color: rgba(21, 17, 17, 0.9);
  font-weight: 400;
  padding: 5px;
  font-weight: 500;
  font-size: 14px;
  -webkit-transition: .3s;
  transition: .3s;
}

.container-footer footer .content--group-footer li a:hover {
  color: #3F51B5;
}

.container-footer footer .content--group-footer .group-icons-sociaux {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
}

.container-footer footer .content--group-footer .group-icons-sociaux .icon-sociaux {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 38px;
  height: 38px;
  border: 1px solid rgba(21, 17, 17, 0.5);
  -webkit-box-shadow: 0 0 50px 5px rgba(47, 61, 138, 0.5);
          box-shadow: 0 0 50px 5px rgba(47, 61, 138, 0.5);
  margin: 0 8px;
  border-radius: 50%;
  -webkit-transition: .3s;
  transition: .3s;
}

.container-footer footer .content--group-footer .group-icons-sociaux .icon-sociaux a {
  color: rgba(21, 17, 17, 0.8);
  text-decoration: none;
  font-size: 17px;
}

.container-footer footer .content--group-footer .group-icons-sociaux .icon-sociaux a:hover {
  color: #3F51B5;
}

.container-footer footer .content--group-footer .copyright {
  font-size: 12px;
  float: right;
  margin: 30px 0;
  font-weight: 600;
}
/*# sourceMappingURL=main.css.map */