/*---------------------------------------------------------*\
                RESET & ANIMATION APPARITION
\*---------------------------------------------------------*/
*, ::before, ::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.reveal {
  -webkit-animation: flash .3s linear;
          animation: flash .3s linear;
}

@-webkit-keyframes flash {
  from {
    opacity: 0;
    display: none;
  }
  to {
    opacity: 1;
    display: block;
  }
}

@keyframes flash {
  from {
    opacity: 0;
    display: none;
  }
  to {
    opacity: 1;
    display: block;
  }
}

@-webkit-keyframes form-search {
  from {
    top: -100%;
  }
  to {
    top: 30px;
  }
}

@keyframes form-search {
  from {
    top: -100%;
  }
  to {
    top: 30px;
  }
}

body {
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*-----------------------------------------*\
                HEADER
\*-----------------------------------------*/
header {
  width: 100%;
  height: 50px;
  padding: 0 80px;
  position: relative;
  z-index: 999;
  /*--------------- TOGGLE ---------------*/
  /*--------------- LOGO ---------------*/
  /*--------------- MENU DE NAVIGATION---------------*/
  /*--------------- CONTAINER POPUP SEARCH ---------------*/
}

header .container-toggle {
  display: none;
  height: 50px;
  font-size: 20px;
  float: left;
  margin-right: 10px;
  color: #151111;
}

header .container-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  margin-right: 8px;
  float: left;
}

header .container-logo a {
  text-decoration: none;
}

header .container-navbars {
  float: left;
}

header .container-navbars li {
  display: inline-block;
  list-style: none;
}

header .container-navbars li a {
  text-decoration: none;
  color: #151111;
  font-weight: 400;
  line-height: 50px;
  padding: 7px 14px;
}

header .container-navbars li a:hover, header .container-navbars li a.active {
  color: #3F51B5;
}

header .container-navbars-other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  float: right;
  /*--------------- GROUPE DES ICONS ---------------*/
  /*-------- AVATAR-------*/
}

header .container-navbars-other .group-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  border-right: 1px solid #ffc62d;
}

header .container-navbars-other .group-icons .group--icon {
  margin-right: 5px;
}

header .container-navbars-other .group-icons .group--icon button {
  cursor: pointer;
  border: none;
  background: none;
  color: #151111;
  outline: none;
  -webkit-transition: .2s;
  transition: .2s;
}

header .container-navbars-other .group-icons .group--icon button:hover {
  color: #3F51B5;
}

header .container-navbars-other .group-avatar button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  background: #151111;
  border: none;
  border-radius: 50%;
  outline: none;
}

header .container-navbars-other .group-avatar button svg {
  width: 100%;
  height: 100%;
}

header .container-popup-search {
  display: none;
}

header .container-popup-search.active {
  display: block;
}

header .container-popup-search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px;
  height: 60px;
  background: #fff;
  border-radius: 3px;
  position: fixed;
  z-index: 1100;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: form-search .3s;
          animation: form-search .3s;
}

header .container-popup-search form .block-input {
  width: 580px;
  height: 40px;
}

header .container-popup-search form .block-input input {
  width: 100%;
  height: 100%;
  border: 1px solid #ffc62d;
  background: none;
  border-radius: 4px;
  outline: none;
  padding: 0 40px 0 20px;
  color: rgba(21, 17, 17, 0.7);
  font-size: 16px;
  font-weight: 500;
}

header .container-popup-search form .block-input input:focus {
  border: 2px solid rgba(255, 198, 45, 0.5);
}

header .container-popup-search form .block-input button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  color: #151111;
  position: absolute;
  font-size: 16px;
  right: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header .container-popup-search .close-search-overlay {
  display: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: #fff;
  -webkit-box-shadow: 0 0 5px #151111;
          box-shadow: 0 0 5px #151111;
  text-align: center;
  border-radius: 50%;
  color: #151111;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  top: 30px;
  right: 100px;
  z-index: 7000;
}

header .container-popup-search .container--overlay-popupSearch {
  width: 100%;
  height: 100%;
  background: rgba(21, 17, 17, 0.7);
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
}

/*-----------------------------------------*\
            CONTAINER SUBSCRIBER
\*-----------------------------------------*/
.containe-subscriber {
  width: 100%;
  height: 410px;
  position: relative;
}

.containe-subscriber .container----Overlayminiature {
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-filter: contrast(-100);
          filter: contrast(-100);
  position: absolute;
  z-index: 4;
  left: 0;
  top: 5px;
}

.containe-subscriber .container--overlayBackground {
  width: 100%;
  height: 410px;
  background: rgba(21, 17, 17, 0.7);
  position: relative;
  z-index: 8;
  padding: 50px 90px;
  /*------- FORMULAIRE D'INSCRIPTION ---------*/
}

.containe-subscriber .container--overlayBackground .content--categorie {
  color: #fff;
  font-size: 14px;
}

.containe-subscriber .container--overlayBackground .content--categorie a {
  color: inherit;
  font-weight: 600;
  text-decoration: none;
}

.containe-subscriber .container--overlayBackground .content--categorie a:hover {
  color: #ccc;
  text-decoration: underline;
}

.containe-subscriber .container--overlayBackground .content--categorie .separator {
  color: #fff;
  font-size: 12px;
}

.containe-subscriber .container--overlayBackground .content--title {
  width: 50%;
  margin: 10px 0;
  font-size: 20px;
  color: #fff;
}

.containe-subscriber .container--overlayBackground .content--description {
  width: 50%;
  color: #fff;
  font-size: 18px;
}

.containe-subscriber .container--overlayBackground .content--heure {
  margin: 12px 0;
  color: #fff;
}

.containe-subscriber .container--overlayBackground .content--heure .emoticon {
  padding: 4px 5px;
  background: #ffc62d;
  color: rgba(21, 17, 17, 0.7);
  font-size: 13px;
  font-weight: 600;
  margin-right: 10px;
}

.containe-subscriber .container--overlayBackground .content--heure .heure {
  font-size: 14px;
  font-weight: 700;
}

.containe-subscriber .container--overlayBackground .content--formulaire {
  width: 300px;
  height: auto;
  position: absolute;
  right: 15%;
  top: 20%;
}

.containe-subscriber .container--overlayBackground .content--formulaire .content--formMiniature {
  width: 300px;
  height: 300px;
}

.containe-subscriber .container--overlayBackground .content--formulaire .content--formMiniature img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.containe-subscriber .container--overlayBackground .content--formulaire form {
  width: 300px;
  height: auto;
  background: #fff;
  -webkit-box-shadow: 0 0 5px 1px rgba(21, 17, 17, 0.5);
          box-shadow: 0 0 5px 1px rgba(21, 17, 17, 0.5);
  padding: 20px 0;
  text-align: center;
}

.containe-subscriber .container--overlayBackground .content--formulaire form button {
  cursor: pointer;
  padding: 14px 30px;
  background: none;
  outline: none;
  border: 1.7px solid #151111;
  font-weight: 800;
}

.containe-subscriber .container--overlayBackground .content--formulaire form button:hover {
  background: rgba(21, 17, 17, 0.07);
}

.container-module {
  width: 80%;
  height: auto;
  margin: auto;
  padding: 20px;
  background: #f5f4fc;
}

.container-module h1 {
  color: rgba(21, 17, 17, 0.9);
  padding: 5px 0;
  font-size: 20px;
}

.container-module ul,
.container-module ol {
  margin: 10px 40px;
}

.container-module ul li,
.container-module ol li {
  color: rgba(21, 17, 17, 0.8);
  font-size: 14px;
}

.container-module p {
  color: rgba(21, 17, 17, 0.8);
  text-align: justify;
  padding: 5px 0;
  font-size: 15px;
}
/*# sourceMappingURL=subscriber.css.map */